body {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#poem {
    position: absolute;
    left: 20%;
    top: 15px;
    width: 300px;
    color: azure;
    font-style: italic;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 5;
    background: black;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3), black, rgb(55, 55, 145));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), black, rgb(55, 55, 145));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), black, rgb(55, 55, 145));
    border-radius: 0px 25px 25px 0px;
    padding: 5px;
    padding-left: 15px;
}

#background {
    width: 100%;
    opacity: 0;
    min-height: 100%;
    position: relative;
}

.shiningLight {
    opacity: 1 !important;    
    background: -webkit-linear-gradient(top left, azure, rgba(255,255, 210, 0.8), rgba(255,255, 210, 0.6), rgba(255,255, 210, 0.5), rgba(255,255, 210, 0.3), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0));
    background: -o-linear-gradient(top left, azure, rgba(255,255, 210, 0.8), rgba(255,255, 210, 0.6), rgba(255,255, 210, 0.5), rgba(255,255, 210, 0.3), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0));
    background: linear-gradient(to bottom right, azure, rgba(255,255, 210, 0.8), rgba(255,255, 210, 0.6), rgba(255,255, 210, 0.5), rgba(255,255, 210, 0.3), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0.1), rgba(255,255, 210, 0));
    -moz-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}

@keyframes wave {
    0% {
        left: 0;
    }
    100% {
        left: 95%;
    }
}

.waves {
    position: absolute;
    top: -17px;
    height: 125px;
    animation: wave 6s infinite linear;
    width: 100%;
}

.waveElement {  
    height: inherit;
    position: absolute;
    top: 0;
    width: 125px;
    border-radius: 85px;
    background: rgb(0, 120, 235);
}

.illuminateOcean {
    position: absolute;
    top: 60%;
    height: 40%;
    background: rgb(0, 120, 235);
    width: 100%;
    left: 0;
}

@keyframes swim {
    0% {
        padding-left: 0px;
        padding-top: 0px;
    }
    25% {
        padding-left: 135px;
    }
    50% {
        padding-top: 70px;
        padding-left: 270px;
    }
    75% {
        padding-top: 15px;
        padding-left: 120px;
    }
    100% {
        padding-left: 0px;
        padding-top: 0px;
    }
}

.minnow {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 150px;
    animation: swim 4s infinite linear;
}

.minnowBody {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
}

.minnowFin {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid black;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 6px;
    top: -3px;
}
